*.py[cod]
__pycache__/
*.so

env/
venv/
ENV/
.VENV/
virtualenv/
venv.bak/
venv.bak/


db.sqlite3
*.log
staticfiles/

.env
config/settings_local.py

media/

node_modules/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
